
 body{
            background-color:rgb(209, 124, 88);
            text-align: center;
             font-family: "Jockey One", sans-serif;
             width:1200px;
             margin:0 auto;
        }
        h1{
            text-align:center;
            color:rgb(15, 73, 12);
            font-family: "Audiowide", sans-serif;
            font-size: 40px;
            
        }
        p{
            text-align: center;
        }
        ul{
            font-style: oblique;
        }
        #icon{
          position: relative;
<<<<<<< HEAD
          left: 500px;           
=======
          left: 500px;           /* move to left */
>>>>>>> d4005c0b5132f946c8d714cfd0f64ef23809c460
          bottom: 100px;            
          width: 320px;
          padding: 25px;
          background: linear-gradient(135deg, #daba53, #22d3ee);
          border-radius: 20px;
          color: rgb(44, 35, 35);
          text-align: center;
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          animation: rotateBtn 3s linear infinite;
          transition: background 0.3s;
        }
        #form{
            padding-top: 20px   ;
            padding-bottom: 20px;
           border: 10px solid rgb(200, 92, 10);
            background-color: aliceblue;
            font-size:30px;
        }
        #intro{
            background-color: aliceblue;
            text-align:left;
            border: 10px solid rgb(200, 92, 10);
            font-size:28px;
            
        }
        button{
            background-color: rgb(31, 54, 117);
            color: white;
             background: linear-gradient(90deg, #6366f1, #22d3ee);
  background-size: 200%;
  animation: gradientMove 2s infinite linear;
  size:30
            
        }
input[type="text"],
input[type="mail"],
input[type="tel"],
select {
  width: 300px;         
  height: 40px;        
  font-size: 16px;       
  padding: 6px 10px;
  margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

button,
input[type="submit"] {
  width: 220px;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
  background-color: #376f14;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

button:hover,
input[type="submit"]:hover {
  background-color: #44c662;
<<<<<<< HEAD
  transform: scale(1.08);
}
@keyframes rotateBtn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(25deg);
  }
}
=======
  color:#44c662;
  transform: scale(1.08);
}
@keyframes rotateBtn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(25deg);
  }
}
>>>>>>> d4005c0b5132f946c8d714cfd0f64ef23809c460
